<!DOCTYPE html>

<html>

<head>
    <title> About</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Hitesh J. It uses data from MapBox.com and DarkSky.net</p>
        <img class="portrait" src="../../public/img/c58111738a84136685d585c85727492b.jpg">
    </div>


    {{>footer}}
</body>

</html>